/* line 8, ../sass/main.scss */
a {
  color: #5fb8dd;
}

/* line 12, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 16, ../sass/main.scss */
html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url(../img/background.jpg) no-repeat center center fixed;
}

/* line 21, ../sass/main.scss */
body {
  background-color: transparent !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(75%, transparent), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(transparent, transparent 75%, #000000);
  background-image: -moz-linear-gradient(transparent, transparent 75%, #000000);
  background-image: -o-linear-gradient(transparent, transparent 75%, #000000);
  background-image: linear-gradient(transparent, transparent 75%, #000000);
}

/* line 26, ../sass/main.scss */
.container {
  padding-top: 60px;
}

/* line 30, ../sass/main.scss */
.content {
  background-color: white;
}
/* line 33, ../sass/main.scss */
.content .logo {
  margin: 0;
  padding: 0.4em;
  background-color: #262626;
}
/* line 38, ../sass/main.scss */
.content .nav {
  background-color: #454545;
  margin-bottom: 1em;
}
/* line 44, ../sass/main.scss */
.content .nav li.active a {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 11px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #09b9e3), color-stop(100%, #0898bb));
  background-image: -webkit-linear-gradient(#09b9e3, #0898bb);
  background-image: -moz-linear-gradient(#09b9e3, #0898bb);
  background-image: -o-linear-gradient(#09b9e3, #0898bb);
  background-image: linear-gradient(#09b9e3, #0898bb);
}
/* line 51, ../sass/main.scss */
.content .nav li.active .active-item-indicator {
  height: 8px;
  width: 15px;
  margin-bottom: -14px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-image: url(../img/active-menu-item-indicator.png);
}
/* line 62, ../sass/main.scss */
.content .nav li a {
  background-color: transparent;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
}
/* line 66, ../sass/main.scss */
.content .nav li a:hover {
  background-color: transparent;
  color: white;
}

/* line 75, ../sass/main.scss */
#sign-up-form {
  padding: 0 1em 0.5em 1em;
}
/* line 78, ../sass/main.scss */
#sign-up-form .location {
  color: gray;
  margin-bottom: 0;
}
/* line 83, ../sass/main.scss */
#sign-up-form h2 {
  margin-top: 0;
}
/* line 87, ../sass/main.scss */
#sign-up-form .email-form {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  background-color: #e6e6e6;
  padding: 1em;
  margin-bottom: 1em;
}
/* line 95, ../sass/main.scss */
#sign-up-form .email-form input[name=email] {
  height: 2em;
  width: 95%;
  padding-right: 1em;
}
/* line 101, ../sass/main.scss */
#sign-up-form .email-form .subscriber-agreement {
  font-size: 0.85em;
  color: #909090;
}
/* line 107, ../sass/main.scss */
#sign-up-form p.button-holder {
  text-align: right;
}
