/* line 7, ../sass/main.scss */
a {
  color: #5fb8dd;
}

/* line 11, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 15, ../sass/main.scss */
body {
  padding-top: 60px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#ffffff, #000000);
  background-image: -moz-linear-gradient(#ffffff, #000000);
  background-image: -o-linear-gradient(#ffffff, #000000);
  background-image: linear-gradient(#ffffff, #000000);
}

/* line 21, ../sass/main.scss */
.content {
  background-color: white;
}
/* line 24, ../sass/main.scss */
.content .logo {
  margin: 0;
  padding: 0.4em;
  background-color: #262626;
}
/* line 29, ../sass/main.scss */
.content .nav {
  background-color: #454545;
}
/* line 34, ../sass/main.scss */
.content .nav li.active a {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #09b9e3), color-stop(100%, #0898bb));
  background-image: -webkit-linear-gradient(#09b9e3, #0898bb);
  background-image: -moz-linear-gradient(#09b9e3, #0898bb);
  background-image: -o-linear-gradient(#09b9e3, #0898bb);
  background-image: linear-gradient(#09b9e3, #0898bb);
  border-bottom: solid 1px #b2b2b2;
}
/* line 43, ../sass/main.scss */
.content .nav li a {
  background-color: transparent;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
}
/* line 47, ../sass/main.scss */
.content .nav li a:hover {
  background-color: transparent;
  color: white;
}

/* line 56, ../sass/main.scss */
#sign-up-form {
  padding: 0 1em 0.5em 1em;
}
/* line 59, ../sass/main.scss */
#sign-up-form .location {
  color: gray;
  margin-bottom: 0;
}
/* line 64, ../sass/main.scss */
#sign-up-form h2 {
  margin-top: 0;
}
/* line 68, ../sass/main.scss */
#sign-up-form .email-form {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  background-color: #e6e6e6;
  padding: 1em;
  margin-bottom: 1em;
}
/* line 76, ../sass/main.scss */
#sign-up-form .email-form input[name=email] {
  height: 2em;
  width: 95%;
  padding-right: 1em;
}
/* line 82, ../sass/main.scss */
#sign-up-form .email-form .subscriber-agreement {
  font-size: 0.85em;
  color: #909090;
}
/* line 88, ../sass/main.scss */
#sign-up-form p.button-holder {
  text-align: right;
}
