@import "compass";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

$linkColor: #5fb8dd;

a {
  color: $linkColor;
}

html, body {
  height: 100%
}

body {
  padding-top: 60px;
  //background: url(../img/background.jpg) no-repeat center;
  @include background-image(linear-gradient(white, black));
}

.content {
  background-color: white;
  padding: 1em;
}

#sign-up-form {
  .email-form {
    @include border-radius(4px, 4px);
    background-color: #e6e6e6;

    padding: 1em;
    margin-bottom: 1em;

    input[name=email] {
      width: 95%;
      padding-right: 1em;
    }

    .subscriber-agreement {
      font-size: 0.9em;
      color: #909090;
    }
  }

  .btn {
    float: right;
  }
}
