@import "compass";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/background-size";
@import "_base";

a {
  color: #5fb8dd;
}

html, body {
  height: 100%;
}

html {
  @include background-size(cover);
  background: url(../img/background.jpg) no-repeat center center fixed;
}

body {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  background-color: transparent !important;
  @include background-image(linear-gradient(transparent, transparent 75%, black));
}

.container {
  padding-top: 60px;
}

.content {
  background-color: white;

  .logo {
    margin: 0;
    padding: 0.4em;
    background-color: #262626;
  }
  .nav {
    background-color: #454545;
    margin-bottom:1em;

    li {
      &.active {
        a {
          margin: 0;
          padding-top: 9px;
          padding-bottom: 11px;
          @include background-image(linear-gradient(#09b9e3, $nav_item_dark_color_stop));
        }

        .active-item-indicator {
          height: 8px;
          width: 15px;
          margin-bottom:-14px;
          margin-left: auto;
          margin-right: auto;
          display:block;
          background-image:url(../img/active-menu-item-indicator.png)
        }
      }

      a {
        background-color: transparent;
        @include border-radius(0px, 0px);
        font-size: 90%;

        &:hover {
          background-color: transparent;
          color: white;
        }
      }
    }
  }
}

#sign-up-form {
  padding: 0 1em 0.5em 1em;

  .location {
    color: #909090;
    margin-bottom: 0;
    font-size:85%;
    padding-top:0.5em;
  }

  h2 {
    font-weight: normal;
    margin-top: -8px;
    margin-bottom: 14px;
  }

  .email-form {
    @include single-box-shadow(rgba(black, 0.4), 1px, 1px);
    @include border-radius(4px, 4px);
    background-color: #e6e6e6;

    padding: 1em;
    margin-bottom: 1em;

    label {
      color: #454545;
    }

    input[name=email] {
      height: 2em;
      width: 95%;
      padding-right: 1em;
    }

    .subscriber-agreement {
      font-size: 80%;
      color: #909090;
    }
  }

  p.button-holder {
    text-align: right;

    .btn {
      padding: 0.4em 1.5em;
    }
  }
}